* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 30px;
}
a:link {
  color: white;
  display: inline-block;
}
header {
  padding: 60px;
  text-align: left;
  background: #1766b1;
  color: white;
}
h1 {
  font-size: 100px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
img {
  padding-top: 10px;
  padding-bottom: 10px;
}
span {
  color: aqua;
}
li {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}
.aside1 {
  padding-top: 50px;
}
.aside2 {
  padding-top: 50px;
}
.aside3 {
  padding-top: 50px;
}
h2 {
  font-size: 50px;
}
#project1 {
  width: 500px;
  height: 300px;
}
#project2 {
  width: 250px;
  height: 150px;
}
#project3 {
  width: 250px;
  height: 150px;
}
.block {
  display: inline-block;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
footer {
  padding: 20px;
  text-align: center;
  background: #1766b1;
  color: white;
}

@media screen and (max-width: 992px) header {
}
nav {
}
aside {
}

@media screen and (max-width: 768px) header {
}
nav {
}
aside {
  order: 2;
}

@media screen and (max-width: 576px) header {
}
nav {
}
aside {
  order: 2;
}
